In [1]:
import os

import pandas as pd
import numpy as np

# plotting packages
%matplotlib inline
from mpl_toolkits.mplot3d import Axes3D
import matplotlib.pyplot as plt
import matplotlib.cm as cm
import matplotlib.colors as clrs

# hierchical algorithm from scikit-learn
from sklearn.cluster import AgglomerativeClustering

In [2]:
# load raw data
DATA_FOLDER = './'
raw = pd.read_csv(os.path.join(DATA_FOLDER, 'Country_risk_2019_data.csv'))

# check the raw data
print("Size of the dataset (row, col): ", raw.shape)
print("\nFirst 5 rows\n", raw.head(n=5))
print("\nFirst 5 rows and 5 columns\n",raw .iloc[:5 , :5])

Size of the dataset (row, col):  (121, 6)

First 5 rows
      Country Abbrev  Corruption  Peace  Legal  GDP Growth
0    Albania     AL          35  1.821  4.546       2.983
1    Algeria     DZ          35  2.219  4.435       2.553
2  Argentina     AR          45  1.989  5.087      -3.061
3    Armenia     AM          42  2.294  4.812       6.000
4  Australia     AU          77  1.419  8.363       1.713

First 5 rows and 5 columns
      Country Abbrev  Corruption  Peace  Legal
0    Albania     AL          35  1.821  4.546
1    Algeria     DZ          35  2.219  4.435
2  Argentina     AR          45  1.989  5.087
3    Armenia     AM          42  2.294  4.812
4  Australia     AU          77  1.419  8.363

In [3]:
# check for missing values
check = raw.isna().sum()
check

Country       0
Abbrev        0
Corruption    0
Peace         0
Legal         0
GDP Growth    0
dtype: int64

In [4]:
# Normalization
X = raw[['Peace', 'Legal', 'GDP Growth']]
X = (X - X.mean()) / X.std()
print(X.head(5))

      Peace     Legal  GDP Growth
0 -0.390081 -0.878158    0.126952
1  0.472352 -0.958948   -0.040772
2 -0.026039 -0.484397   -2.230541
3  0.634871 -0.684553    1.303747
4 -1.261182  1.900001   -0.368418

In [5]:
hierarchical_cluster = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='average')

In [6]:
y = hierarchical_cluster.fit_predict(X)
print("cluster labels: ", y)

cluster labels:  [0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 2 0 0 2 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0 0
 0 0 0 1 2 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 2
 0 2 0 0 0 0 0 2 0 1]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_agglomerative.py:983: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

In [7]:
#List the result
result = pd.DataFrame({'Country':raw['Country'], 'Abbrev':raw['Abbrev'], 'Label':y})
with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
    print(result.sort_values('Label'))

                          Country Abbrev  Label
0                         Albania     AL      0
76                    New Zealand     NZ      0
75                    Netherlands     NL      0
74                          Nepal     NP      0
73                     Mozambique     MZ      0
72                        Morocco     MA      0
71                     Montenegro     ME      0
70                        Moldova     FM      0
111                        Uganda     UG      0
68                      Mauritius     MU      0
67                     Mauritania     MR      0
109                       Tunisia     TN      0
66                           Mali     ML      0
64                         Malawi     MW      0
63                     Madagascar     MG      0
62                      Lithuania     LT      0
61                        Liberia     LR      0
119                        Zambia     ZM      0
59                         Latvia     LV      0
58                         Kuwait     KW      0
57                  Korea (South)     KI      0
56                          Kenya     KE      0
55                     Kazakhstan     KZ      0
65                       Malaysia     MY      0
108           Trinidad and Tobago     TT      0
79                         Norway     NO      0
80                           Oman     OM      0
103                   Switzerland     CH      0
102                        Sweden     SE      0
101                     Sri Lanka     LK      0
100                         Spain     ES      0
99                   South Africa     ZA      0
98                       Slovenia     SI      0
97                       Slovakia     SK      0
96                      Singapore     SG      0
95                   Sierra Leone     SL      0
94                         Serbia     RS      0
93                        Senegal     SN      0
92                   Saudi Arabia     SA      0
91                         Rwanda     RW      0
106                      Thailand     TH      0
89                        Romania     RO      0
88                          Qatar     QA      0
87                       Portugal     PT      0
86                         Poland     PL      0
85                    Philippines     PH      0
84                           Peru     PE      0
83                       Paraguay     PY      0
82                         Panama     PA      0
107          The FYR of Macedonia     MK      0
54                         Jordan     JO      0
53                          Japan     JP      0
52                        Jamaica     JM      0
51                          Italy     IT      0
23                     Costa Rica     CR      0
22                       Colombia     CO      0
21                          China     CN      0
20                          Chile     CL      0
115                 United States     US      0
18                         Canada     CA      0
17                       Cameroon     CM      0
116                       Uruguay     UY      0
15                       Bulgaria     BG      0
14                         Brazil     BR      0
13                       Botswana     BW      0
12         Bosnia and Herzegovina     BA      0
11                        Bolivia     BO      0
10                          Benin     BJ      0
9                         Belgium     BE      0
8                      Bangladesh     BD      0
7                         Bahrain     BH      0
6                      Azerbaijan     AZ      0
5                         Austria     AT      0
4                       Australia     AU      0
3                         Armenia     AM      0
117                       Vietnam     VI      0
1                         Algeria     DZ      0
24                        Croatia     HR      0
104                        Taiwan     SY      0
25                         Cyprus     CY      0
114                United Kingdom     GB      0
50                         Israel     IL      0
49                        Ireland     IE      0
113          United Arab Emirates     AE      0
47                      Indonesia     ID      0
46                          India     IN      0
45                        Iceland     IS      0
44                        Hungary     HU      0
43                       Honduras     HN      0
42                      Guatemala     GT      0
41                         Greece     GR      0
40                          Ghana     GH      0
39                        Germany     DE      0
38                        Georgia     GE      0
37                          Gabon     GA      0
36                         France     FR      0
35                        Finland     FI      0
34                       Ethiopia     ET      0
33                        Estonia     EE      0
32                    El Salvador     SV      0
31                          Egypt     EG      0
30                        Ecuador     EC      0
29             Dominican Republic     DO      0
28                        Denmark     DK      0
26                 Czech Republic     CZ      0
105                      Tanzania     TZ      0
120                      Zimbabwe     ZW      1
77                      Nicaragua     NI      1
48                           Iran     IR      1
2                       Argentina     AR      1
81                       Pakistan     PK      2
78                        Nigeria     NG      2
110                        Turkey     TR      2
69                         Mexico     MX      2
112                       Ukraine     UA      2
27   Democratic Republic of Congo     CD      2
19                           Chad     TD      2
16                        Burundi     BI      2
118                         Yemen     YE      2
90                         Russia     RU      2
60                        Lebanon     LB      2

In [8]:
pd.DataFrame(result).to_csv('hierarchical_results_averagemethod.csv')

In [10]:
#hierarchical_cluster
hierarchical_cluster_2 = AgglomerativeClustering(n_clusters=3, affinity='euclidean', linkage='ward')

In [11]:
z = hierarchical_cluster_2.fit_predict(X)
print("cluster labels: ", z)

cluster labels:  [0 0 0 0 1 1 0 0 0 1 0 0 0 0 0 0 2 0 1 2 1 0 0 1 0 1 1 2 1 0 0 0 0 1 0 1 1
 0 0 1 0 0 0 0 1 1 0 0 2 1 0 0 0 1 0 0 0 1 0 0 2 0 1 0 0 1 0 0 0 2 0 0 0 0
 0 1 1 2 2 1 0 2 0 0 0 0 0 1 1 0 2 0 0 0 0 0 1 1 1 0 1 0 1 1 1 0 0 0 0 0 2
 0 2 1 1 0 0 0 2 0 2]

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_agglomerative.py:983: FutureWarning: Attribute `affinity` was deprecated in version 1.2 and will be removed in 1.4. Use `metric` instead
  warnings.warn(

In [12]:
#List the result
result_2 = pd.DataFrame({'Country':raw['Country'], 'Abbrev':raw['Abbrev'], 'Label':z})
with pd.option_context('display.max_rows', None, 'display.max_columns', 3):
    print(result_2.sort_values('Label'))

                          Country Abbrev  Label
0                         Albania     AL      0
70                        Moldova     FM      0
68                      Mauritius     MU      0
67                     Mauritania     MR      0
66                           Mali     ML      0
64                         Malawi     MW      0
63                     Madagascar     MG      0
61                        Liberia     LR      0
119                        Zambia     ZM      0
71                     Montenegro     ME      0
59                         Latvia     LV      0
56                          Kenya     KE      0
55                     Kazakhstan     KZ      0
108           Trinidad and Tobago     TT      0
52                        Jamaica     JM      0
51                          Italy     IT      0
50                         Israel     IL      0
115                 United States     US      0
47                      Indonesia     ID      0
58                         Kuwait     KW      0
46                          India     IN      0
72                        Morocco     MA      0
74                          Nepal     NP      0
107          The FYR of Macedonia     MK      0
106                      Thailand     TH      0
105                      Tanzania     TZ      0
101                     Sri Lanka     LK      0
99                   South Africa     ZA      0
95                   Sierra Leone     SL      0
94                         Serbia     RS      0
93                        Senegal     SN      0
73                     Mozambique     MZ      0
92                   Saudi Arabia     SA      0
89                        Romania     RO      0
86                         Poland     PL      0
85                    Philippines     PH      0
84                           Peru     PE      0
83                       Paraguay     PY      0
82                         Panama     PA      0
111                        Uganda     UG      0
80                           Oman     OM      0
91                         Rwanda     RW      0
43                       Honduras     HN      0
54                         Jordan     JO      0
109                       Tunisia     TN      0
13                       Botswana     BW      0
17                       Cameroon     CM      0
12         Bosnia and Herzegovina     BA      0
11                        Bolivia     BO      0
42                      Guatemala     GT      0
10                          Benin     BJ      0
117                       Vietnam     VI      0
21                          China     CN      0
22                       Colombia     CO      0
8                      Bangladesh     BD      0
7                         Bahrain     BH      0
24                        Croatia     HR      0
6                      Azerbaijan     AZ      0
15                       Bulgaria     BG      0
29             Dominican Republic     DO      0
116                       Uruguay     UY      0
31                          Egypt     EG      0
1                         Algeria     DZ      0
41                         Greece     GR      0
40                          Ghana     GH      0
2                       Argentina     AR      0
3                         Armenia     AM      0
38                        Georgia     GE      0
37                          Gabon     GA      0
30                        Ecuador     EC      0
14                         Brazil     BR      0
34                       Ethiopia     ET      0
32                    El Salvador     SV      0
103                   Switzerland     CH      1
9                         Belgium     BE      1
4                       Australia     AU      1
100                         Spain     ES      1
96                      Singapore     SG      1
97                       Slovakia     SK      1
88                          Qatar     QA      1
87                       Portugal     PT      1
98                       Slovenia     SI      1
5                         Austria     AT      1
102                        Sweden     SE      1
104                        Taiwan     SY      1
44                        Hungary     HU      1
18                         Canada     CA      1
45                        Iceland     IS      1
39                        Germany     DE      1
49                        Ireland     IE      1
36                         France     FR      1
53                          Japan     JP      1
35                        Finland     FI      1
33                        Estonia     EE      1
57                  Korea (South)     KI      1
62                      Lithuania     LT      1
28                        Denmark     DK      1
65                       Malaysia     MY      1
26                 Czech Republic     CZ      1
25                         Cyprus     CY      1
114                United Kingdom     GB      1
23                     Costa Rica     CR      1
20                          Chile     CL      1
75                    Netherlands     NL      1
113          United Arab Emirates     AE      1
79                         Norway     NO      1
76                    New Zealand     NZ      1
110                        Turkey     TR      2
112                       Ukraine     UA      2
118                         Yemen     YE      2
60                        Lebanon     LB      2
81                       Pakistan     PK      2
78                        Nigeria     NG      2
77                      Nicaragua     NI      2
69                         Mexico     MX      2
48                           Iran     IR      2
27   Democratic Republic of Congo     CD      2
19                           Chad     TD      2
16                        Burundi     BI      2
90                         Russia     RU      2
120                      Zimbabwe     ZW      2

In [13]:
pd.DataFrame(result).to_csv('hierarchical_results.csv')